/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* BASE STYLES */
body {
  background-color: #e8f0f7;
  font-family: "Inter", sans-serif;
  padding-top: 40px;
}

/* NORMAL STYLES */
.header {
  background-color: rgb(19, 22, 26);
  position: fixed;
  width: 100%;
  top: 0;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.logo {
}

.logo__img {
  height: 20px;
  display: block;
}

.nav {
}

.nav__list {
  display: flex;
  column-gap: 40px;
}

.nav__item {
}

.nav__link {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  transition: all 0.4s;
  position: relative;
}

.nav__link:hover {
  color: rgba(255, 255, 255, 1);
}

.nav__link::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: rgb(0, 183, 255);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: all 0.2s;
  opacity: 0;
  pointer-events: none;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__item a.active {
  color: #fff;
  background-color: #0071e3;
  padding: 7px 18px;
  border-radius: 1000px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  transition: all 0.2s;
}

/* MEDIA QUERIES */
@media (max-width: 650px) {
  .header__content {
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    row-gap: 18px;
  }

  .nav__list {
    column-gap: 20px;
  }
}

.table__body {
  width: 95%;
  max-height: calc(50% - 1.6rem);
  background-color: #fffb;

  margin: 0.8rem auto;
  border-radius: 0.6rem;

  overflow: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: 0.2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: 0.2s ease-in-out 0.5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: 0.2s ease-in-out 0.5s;
}

.status {
  padding: 0.4rem 0;
  border-radius: 2rem;
  text-align: center;
}

.status.delivered {
  background-color: #86e49d;
  color: #006b21;
}

.status.cancelled {
  background-color: #d893a3;
  color: #b30021;
}

.status.pending {
  background-color: #ebc474;
}

.status.shipped {
  background-color: #6fcaea;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

thead th span.icon-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;

  text-align: center;
  font-size: 1rem;

  margin-left: 0.5rem;
  transition: 0.2s ease-in-out;
}

/* thead th.active span.icon-arrow {
  background-color: #6c00bd;
  color: #fff;
} */

thead th.asc span.icon-arrow {
  transform: rotate(180deg);
}

thead th.active,
tbody td.active {
  color: #6c00bd;
}

.sidebar {
  margin: 2%;
  margin-top: 15%;
  margin-left: 15%;
  padding: 4;
  width: 200px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  height: 500px;
  overflow: auto;
}

.sidebar .fileButton:hover {
  background-color: rgba(168, 164, 164, 0.733);
}

.btn,
input[type="submit"] {
  display: inline-block;
  padding: 10px 33px;
  margin: 8px;
  border-radius: 4px;
  color: var(--text-main);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.btn {
  display: flex;
  background: rgb(0, 183, 255);
  width: 100;
  justify-content: center;
}

.btn:hover {
  background: #0071e3;
}

.editor__body {
  width: 95%;
  height: 95%;
  background-color: rgba(168, 164, 164, 0.733);

  margin: 0.3rem auto;
  border-radius: 0.6rem;

  overflow: auto;
  overflow: overlay;
}

.rightPanel {
  width: 100%;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  margin-top: 0.4%;
  height: 100%;
  /* background-color: #f1f1f1;
  border: 1px solid #ccc; */
}
/* Style the tab */
.rightPanel .tab {
  width: 95%;
  margin: 2%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  height: 55%;
}

/* Style the buttons inside the tab */
.rightPanel .tab button {
  margin: 3;
  border-radius: 1000px;
  background-color: #ddd;

  float: left;
  border: none;

  height: 35;
  padding: 11px 11px;

  font-size: 15px;
}

.rightPanel .tab .tablinks {
  background-color: #ddd;
  width: 100%;
  height: 40;
  display: flex;
}

/* Change background color of buttons on hover */
.rightPanel .tab button:hover {
  background-color: #d2d1d1;
}

.rightPanel .tab .tablinks .buttons-wrapper {
  height: 40;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-left: 1px solid; */
  border-right: 1px solid;
  padding: 10;
}

.rightPanel .tab .tablinks .buttons-wrapper.active {
  background-color: #f1f1f1;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.rightPanel .bottomContainer {
  width: 95%;
  margin: 2%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.controlWrapper {
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.controlGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.categoryWrapper {
  background-color: gainsboro;
  border-radius: 0.6rem;
  height: 550px;
  overflow: auto;
  padding-top: 3%;
}

.categoryTitle {
  font-size: small;
  margin-left: 3%;
  font-weight: 600;
}

.categoryGrid {
  /* width: 300px; */
  /* width: fit-content; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 10;
  grid-auto-rows: 30px;
  grid-auto-columns: 30px;
  background-color: gainsboro;
  border-radius: 0.6rem;
}

.uncategorisedGrid {
  /* width: 300px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10;
  grid-auto-rows: 30px;
  grid-auto-columns: 30px;
  border-radius: 0.6rem;
}

.widgetContainer {
  /* max-width: 100px; */
  border-radius: 0.3rem;
  padding: 5;
  font-size: small;
  font-weight: 400;
  display: flex;
  justify-content: space-around;
}

.widgetContainer:hover {
  border: 1px solid #0071e3;
}

.widgetContainer select {
  margin-left: 10;
  width: 70;
  height: 20;
}

.widgetContainer input {
  margin-left: 5;
  width: 50;
  height: 20;
}

.grid {
  display: grid;
  grid-template-columns: var(--col);
  grid-template-rows: var(--row);
}

.counterWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counterWrapper .counterButton {
  border-radius: 2rem;
  margin-left: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(188, 188, 188);
}

.counterWrapper .counterButton a:hover {
  color: #03a9f4;
}

.experimentButton {
  margin-left: 3%;
  color: #fff;
  background-color: #0071e3;
  padding: 7px 18px;
  border-radius: 1000px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  transition: all 0.2s;
}

.treeContainer {
  margin: 3%;
  padding: 4;
  width: 500px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  height: 300px;
  overflow: auto;
}

.treeContainer .deviceCheckbox {
  width: fit-content;
  position: relative;
}

.treeContainer .deviceCheckbox:hover {
  background-color: rgba(168, 164, 164, 0.733);
}

.treeContainer .deviceCheckbox .hiddenBox {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
}

/* .treeContainer .deviceCheckbox:hover .hiddenBox {
  display: block;
} */
